<app-main-navbar></app-main-navbar>

<p style="margin: 10px; font-size: 16px;"><a routerLink="/meritve">&larr; Nazaj na pregled meritev</a></p>

<form (ngSubmit)="saveToQueue()" [formGroup]="observationForm" class="myForm">
  <p>
    <md-select mdInput placeholder="pacient" [(ngModel)]="patient" formControlName="patient">
      <md-option *ngFor="let patient of patients" [value]="patient">
        <img [src]="patient.resource.photo[0].url" alt="avatar" class="avatar img-circle">
        {{ patient.resource.name[0]?.given[0] }} {{ patient.resource.name[0]?.family }}
      </md-option>
    </md-select>
  </p>
  <p>
    <md-input-container>
      <input mdInput placeholder="telesna teža" type="number" formControlName="bodyWeight">
    </md-input-container>
  </p>
  <p>
    <md-input-container>
      <input mdInput placeholder="srčni utrip" type="number" formControlName="heartRate">
    </md-input-container>
  </p>
  <p>
    <md-input-container>
      <input mdInput placeholder="oksigeniranost" type="number" formControlName="oxygenSaturation">
    </md-input-container>
  </p>
  <p>
    <md-input-container>
      <input mdInput placeholder="telesna temperatura" type="number" formControlName="bodyTemperature">
    </md-input-container>
  </p>
  <div formGroupName="bloodPressure">
    <p>
      <md-input-container>
        <input mdInput placeholder="krvni pritisk sistolični" type="number" formControlName="systolicPressure">
      </md-input-container>
    </p>
    <p>
      <md-input-container>
        <input mdInput placeholder="krvni pritisk diastilični" type="number" formControlName="diastolicPressure">
      </md-input-container>
    </p>
  </div>
  <button md-raised-button color="primary" type="submit" [disabled]="!observationForm.valid">POŠLJI</button>
</form>
