.avatar {
  height: 40px;
  width: 40px;
}

.myForm {
  text-align: center;
  margin-top: 60px;
  font-size: 18px;
}

.success {
  margin-top: 30px;
  color: #66bb6a;
}

.warn {
  margin-top: 30px;
  color: #f44336;
}

.unit {
  color: grey;
}
