<md-toolbar color="primary">
  <a md-button routerLink="/meritve" class="my-navbar"><h3>Patronažna služba</h3></a>
  <span class="spacer"></span>
  <a md-button class="my-navbar" routerLink="/meritve">pregled</a>
  <a md-button class="my-navbar" routerLink="/meritve/vnos">vnos</a>
  <div *ngIf="online">
    <a md-button class="my-navbar" routerLink="/priprava">priprava</a>
    <a md-button class="my-navbar" (click)="onLogOut()" routerLink="/">odjava</a>
  </div>
  <a href="https://github.com/tvenko/diploma"><img src="../../../assets/github.svg" alt="github"></a>
</md-toolbar>
