<md-card class="login-card">
  <md-card-header>
    <md-card-title><h2>Prijava v sistem</h2></md-card-title>
  </md-card-header>
  <md-card-content>
    <form (ngSubmit)="onLogin(f)" #f="ngForm">
      <p>
      <md-input-container>
        <input
          mdInput
          placeholder="email"
          type="email"
          name="email"
          required
          ngModel>
      </md-input-container>
      </p>
      <p>
      <md-input-container>
        <input
          mdInput
          placeholder="geslo"
          type="password"
          name="geslo"
          required
          ngModel>
      </md-input-container>
      </p>
      <button md-raised-button color="primary" type="submit">PRIJAVA</button>
    </form>
    <br>
    <a href="#">Še nimate računa?</a>
  </md-card-content>
</md-card>
