.myAutoComplite {
  text-align: center;
  margin-top: 60px;
  font-size: 18px;
}

.avatar {
  height: 40px;
  width: 40px;
}

.trash {
  cursor: pointer;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.mat-table {
  overflow: auto;
}
