<app-main-navbar></app-main-navbar>

<h3>Test listing observations</h3>
<hr>

<!-- izpis seznama meritev -->
<div class="card-container">
  <div *ngFor="let observation of observations; let i = index">
    <md-card *ngIf="observation.resource.category">
      <div *ngIf="!(observation.resource.code?.text == 'Blood Pressure')">
        <md-card-title>
          <i class="fa fa-list-alt" aria-hidden="true"></i> &nbsp; ID: {{ observation.resource.id }}
        </md-card-title>
        <md-card-content class="card-container">
          TYPE: {{ observation.resource.code?.text }} <br>
          VALUE: {{ observation.resource.valueQuantity?.value }} {{ observation.resource.valueQuantity?.unit }} <br>
          DATE: {{ observation.resource.meta?.lastUpdated | date}}
        </md-card-content>
        <md-card-actions align="end">
          <button md-button color="primary" (click)="onDelete(observation, i)">IZBRIŠI</button>
        </md-card-actions>
      </div>

      <div *ngIf="observation.resource.code?.text == 'Blood Pressure'">
        <md-card-title>
          <i class="fa fa-list-alt" aria-hidden="true"></i> &nbsp; ID: {{ observation.resource.id }}
        </md-card-title>
        <md-card-content class="card-container">
          TYPE: {{ observation.resource.component[0].code?.text }} <br>
          VALUE: {{ observation.resource.component[0].valueQuantity?.value }} {{ observation.resource.component[0].valueQuantity?.unit }} <br>
          <br>
          TYPE: {{ observation.resource.component[1].code?.text }} <br>
          VALUE: {{ observation.resource.component[1].valueQuantity?.value }} {{ observation.resource.component[0].valueQuantity?.unit }} <br>
          DATE: {{ observation.resource.meta?.lastUpdated | date}}
          <br>
        </md-card-content>
        <md-card-actions align="end">
          <button md-button color="primary" (click)="onDelete(observation, i)">IZBRIŠI</button>
        </md-card-actions>
      </div>
    </md-card>
  </div>
</div>

<!-- ce je prislo do napake -->
<div *ngIf="observationsError">
  Meritev ni bilo mogoče pridobiti.
</div>

<!-- spinner dokler cakas na meritve -->
<div *ngIf="observationsWaiting">
  <md-spinner color="accent" style="height: 50px;"></md-spinner>
</div>

<!-- paginacija -->
<div class="text-center">
  <ngb-pagination
    [collectionSize]=total
    [(page)]="page"
    [maxSize]="5"
    [rotate]="true"
    [boundaryLinks]="true"
    (click)="getObservations()">
  </ngb-pagination>
</div>
