<app-main-navbar></app-main-navbar>

<h3>Seznam meritev
  <button md-button color="primary" (click)="onSinc()" align="end" style="float: right;">SINHRONIZIRAJ</button>
</h3>

<hr>

<!-- spustni seznam izbire pacienta -->
<form>
  <md-select placeholder="pacient" [(ngModel)]="patient" name="patient">
    <md-option *ngFor="let patient of patients" [value]="patient" (click)="selectPatient()">
      <img [src]="patient.resource.photo[0].url" alt="avatar" class="avatar img-circle">
      {{ patient.resource.name[0]?.given[0] }} {{ patient.resource.name[0]?.family }}
    </md-option>
  </md-select>
</form>

<!-- izpis napake pridobivanja pacientov -->
<span *ngIf="patientSpinner">
  <md-spinner color="accent" style="height: 30px;"></md-spinner>
</span>
<span *ngIf="patientError" style="color: #f44336;">Pacientov ni bilo mogoče pridobiti</span>

<!-- izpis seznama meritev -->
<div class="card-container" *ngIf="patient">
  <div *ngFor="let observation of observations; let i = index">
    <md-card *ngIf="observation.resource.category">
      <div *ngIf="!(observation.resource.code?.text == 'Blood Pressure')">
        <md-card-title>
          <img [src]="observation.patient?.photo[0]?.url" alt="avatar" class="avatar img-circle">
          {{ observation.patient?.name[0]?.given[0] }} {{ observation.patient?.name[0]?.family }}
        </md-card-title>
        <md-card-content class="card-container">
          ID: {{ observation.resource.id }} <br>
          TIP: {{ observation.resource.code?.text }} <br>
          VREDNOST: {{ observation.resource.valueQuantity?.value }} {{ observation.resource.valueQuantity?.unit }} <br>
          DATUM: {{ observation.resource.meta?.lastUpdated | date}}
        </md-card-content>
        <md-card-actions align="end">
          <button md-button color="primary" (click)="onDelete(observation, i)">IZBRIŠI</button>
        </md-card-actions>
      </div>

      <div *ngIf="observation.resource.code?.text == 'Blood Pressure'">
        <md-card-title>
          <img [src]="observation.patient?.photo[0]?.url" alt="avatar" class="avatar img-circle">
          {{ observation.patient?.name[0]?.given[0] }} {{ observation.patient?.name[0]?.family }}
        </md-card-title>
        <md-card-content class="card-container">
          ID: {{ observation.resource.id }} <br>
          TIP: {{ observation.resource.component[0].code?.text }} <br>
          VREDNOST: {{ observation.resource.component[0].valueQuantity?.value }} {{ observation.resource.component[0].valueQuantity?.unit }} <br>
          <br>
          TIP: {{ observation.resource.component[1].code?.text }} <br>
          VREDNOST: {{ observation.resource.component[1].valueQuantity?.value }} {{ observation.resource.component[0].valueQuantity?.unit }} <br>
          DATUM: {{ observation.resource.meta?.lastUpdated | date}}
          <br>
        </md-card-content>
        <md-card-actions align="end">
          <button md-button color="primary" (click)="onDelete(observation, i)">IZBRIŠI</button>
        </md-card-actions>
      </div>
    </md-card>
  </div>
</div>

<!-- izpis seznama meritev iz vrste meritev -->
<div class="card-container" *ngIf="patient">
  <div *ngFor="let observation of queueObservations; let i = index">
    <md-card>
      <div *ngIf="!(observation.type == 'bloodPressure')">
        <md-card-title>
          {{ observation.patient }}
        </md-card-title>
        <md-card-content class="card-container">
          VREDNOST: {{ observation.value }}  <br>
          TIP: {{ observation.type }} <br>
          DATUM: {{ observation.date | date}}
          <div *ngIf="(observation.type == 'bodyWeight')">kg</div>
          <div *ngIf="(observation.type == 'bodyTemperature')">cel</div>
          <div *ngIf="(observation.type == 'heartRate')">/min</div>
          <div *ngIf="observation.type == 'oxygenSaturation'">%</div>
        </md-card-content>
        <md-card-actions align="end">
          <button md-button color="primary">IZBRIŠI</button>
        </md-card-actions>
      </div>

      <div *ngIf="observation.type == 'bloodPressure'">
        <md-card-title>
          {{ observation.patient }}
        </md-card-title>
        <md-card-content class="card-container">
          VREDNOST: {{ observation.subtype[0]?.value }} mm/Hg<br>
          TIP: {{ observation.subtype[0]?.type }} <br>
          <br>
          VREDNOST: {{ observation.subtype[1]?.value }} mm/Hg<br>
          TIP: {{ observation.subtype[1]?.type }} <br>
          DATUM: {{ observation.date | date}}
          <br>
        </md-card-content>
        <md-card-actions align="end">
          <button md-button color="primary">IZBRIŠI</button>
        </md-card-actions>
      </div>
    </md-card>
  </div>
</div>

<div *ngIf="!patient" style="margin: 60px;">
  <h3>Prosim izberite pacienta</h3>
</div>

<!-- ce je prislo do napake -->
<div *ngIf="observationsError" style="margin: 60px;">
  <h4 style="color: #f44336;">Meritev ni bilo mogoče pridobiti.</h4>
  <p>Ste prepričani, da ima paciet že vnešene meritve?</p>
</div>

<!-- spinner dokler cakas na meritve -->
<div *ngIf="observationsWaiting" style="margin: 60px;">
  <md-spinner color="accent" style="height: 50px;"></md-spinner>
</div>

<!-- paginacija -->
<div class="text-center" *ngIf="pagination">
  <ngb-pagination
    [collectionSize]=total
    [(page)]="page"
    [maxSize]="5"
    [rotate]="true"
    [boundaryLinks]="true"
    [pageSize]="offset"
    (click)="getObservations()">
  </ngb-pagination>
</div>
