md-card {
  width: 20%;
  height: 270px;
  min-width: 250px;
  margin: 10px;
  padding: 18px;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
}

.card-content {
  color: rgba(0,0,0,0.6);
}

.avatar {
  height: 40px;
  width: 40px;
}
